{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
  <div id="">
    <h4 class="boxed"><span>Follow a new user</span></h4>
    <form method="post">
      {% csrf_token %}
      <div class="d-flex align-items-baseline justify-content-between">
        <div class="form-group col-md-9 pe-2">
          {{ form.followed_user | as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-default col-md-3">
          <i class="bi bi-person-heart"></i> Follow user
        </button>
      </div>
    </form>
    <br>
    <br>
    <h4 class="boxed"><span>Users you are folllowing</span></h4>
    {% if following %}
      {% for item in following %}
        <div class="d-flex justify-content-between">
          <img class="micro-avatar" src="{% if item.followed_user.user_avatar %}
{{ item.followed_user.user_avatar.url }}{% else %}https://via.placeholder.com/3
0{% endif %}"/>
          <span>{{ item.followed_user.username }}</span>
          <a class="btn btn-default" href="{% url 'unfollow' item.id %}">
            <i class="bi bi-person-x"></i> Unfollow
          </a>
        </div>
        {% if not forloop.last %}
          <hr class="mt-2 mb-2">
        {% endif %}
      {% endfor %}
    {% else %}
      <p>You are not following any users yet. Follow users to find your next
        book!</p>
    {% endif %} <br>
    <br>
    <h4 class="boxed"><span>Users who are following you</span></h4>
    {% if followed_by %}
      {% for item in followed_by %}
        <div class="d-flex justify-content-between">
          <img class="micro-avatar" src="{% if item.user.user_avatar %}
{{ item.user.user_avatar.url }}{% else %}https://via.placeholder.com/3
0{% endif %}"/>
          <span>{{ item.user.username }}</span>
        </div>
        {% if not forloop.last %}
          <hr class="mt-2 mb-2">
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No one is following you yet. Probably too busy reading a book.</p>
    {% endif %}

    <div class="btn-group mt-5">
      <a class="btn btn-outline-dark" href="{% url 'home' %}">Back to Home</a>
    </div>

  </div>

{% endblock %}
