<div class="review mt-5">
  <div class="col-12 bg-dark ticket-header d-flex justify-content-between
       align-items-stretch">
    <h3 class="align-self-center mb-0 pt-1 pb-1 pe-2 ps-2">
      <i class="bi bi-chat-left-quote"></i>
      {% if item.user == user %}
        &nbsp;<strong>You</strong> submitted a review</h3>
        <span class="align-self-center">
            <a class="btn btn-outline-light ms"
               href="{% url 'review-edit' item.id %}">
              <i class="bi bi-pencil"></i><span class="d-none
              d-md-inline-block">&nbsp;Edit</span></a>
            <a class="btn btn-outline-light"
               href="{% url 'review-delete' item.id %}">
              <i class="bi bi-trash"></i><span class="d-none
              d-md-inline-block">&nbsp;Delete</span></a>
          </span>
      {% else %}
        <strong>{{ item.user }}</strong> {% if item.user.user_avatar %}
        <img class="micro-avatar" src="{{ item.user.user_avatar.url }}"/>
      {% endif %}submitted a review</h4>
      {% endif %}
    <span class="datetime float-end text-end mt-auto mb-auto">
      <small class="">
          {{ item.time_created }}</small></span>
  </div>
  <div class="col-12 ticket-content">
    <h4 class="fw-bold">{{ item.headline }}</h4>
    <hr>
    <div>
      {% with ''|center:item.rating as range %}
        {% for _ in range %}
          <i class="bi bi-star-fill"></i>
        {% endfor %}
      {% endwith %}
    </div>
    <div>{{ item.body }}</div>
  </div>
  <div class="col-10 offset-2 ticket-content ticket-embedded">
    <div class="row">
      {% with item.ticket as ticket %}
        {% include 'partials/ticket_list_item.html' %}
      {% endwith %}
    </div>
  </div>
</div>

