@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700&family=Grape+Nuts&family=Work+Sans:wght@300;700&display=swap');

$cursive: 'Arima Madurai', cursive;
$sans-serif: 'Work Sans', sans-serif;
$hand: 'Grape Nuts', cursive;
$primary: #1D7370;
$secondary: #732722;
$shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
$rating: #BF821D;


.bg-dark {
  background: $secondary !important;
  color: white;
}

.bi.bi-star, .bi.bi-star-fill {
  color: $rating;
}

body {
  font-family: $cursive;
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/ricepaper2.png) repeat;
}

h2 {
  font-family: $cursive;
}

h2.page-title {
  margin: 5px auto 20px auto;
  font-weight: bold;
  color: $primary;
  border-bottom: 3px double $primary;
  padding-bottom: 5px;
}

h3 {
  font-size: 20px;
  font-family: $cursive;
  &.boxed {
    border-bottom: 1px solid $secondary;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 20px;

    span {
      background: $secondary;
      color: white;
      padding: 2px 5px;
    }
  }
}

h4 {
  font-family: $hand;
  font-size: 20px;
  margin: 5px auto 20px auto;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  margin-bottom: 30px;

  a {
    border-bottom: 1px solid transparent;

    @media all and (max-width: 992px) {
      margin-bottom: 15px;
    }

    &:hover {
      border-bottom: 1px solid #fff;
    }

    &.logo {
      font-family: $cursive;
      font-size: 30px;
      font-weight: bold;

      &:hover {
        border-color: transparent;
        color: lighten($secondary, 75%) !important;
      }
    }
  }
}

.btn-default {
  background: $primary;
  border-color: $primary;
  color: #fff;

  &:hover {
    color: #fff;
    background: darken($primary, 3%);
    border-color: darken($primary, 3%);
  }
}

.btn {
  font-family: $cursive;
}

.btn-outline-dark {
    color: $primary;
    border-color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

.login {
  margin: 0 auto !important;
  width: 400px;

  .text-center {
    margin: 0 auto;
  }
}

#register {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin-right: 20px;
}

.micro-avatar {
  @extend .avatar;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.cover {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
}

.ticket {
  box-shadow: $shadow;

  .ticket-header {
    padding: 5px 10px;
    color: #fff;

    h3 {
      font-family: $cursive;
    }
  }

  .ticket-content {
    display: inline-block;
    padding: 15px 20px;
    font-family: $hand;
    font-size: 20px;
  }
}

.ticket-form, .review-form {
  box-shadow: $shadow;

  label, .form-label {
    font-size: 18px;
    font-family: $cursive;
    color: $secondary;
    margin-top: 10px;
    margin-bottom: 0.5em;
  }

  .ticket-content {
    font-family: $hand;
    font-size: 20px;
  }

  .form-control, .input-group-text {
    font-family: $hand;
    font-size: 20px;
  }

  #div_id_ticket, #div_id_user {
    margin-bottom: 0 !important;
  }
}

#div_id_review-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > div {
    margin-top: 10px;
    margin-bottom: 0.5em;
    margin-left: 15px;
    height: 28px;
    width: 150px;

    .form-check {
      display: inline-block;
      padding-left: 0;
      width: 30px;
      height: 28px;
      margin-left: -5px;

      label {
        position: relative;
        width: 1px;
        height: 1px;

        &:before {
          content: "\f588";
          color: $rating;
          font-family: "bootstrap-icons", sans-serif;
          font-size: 19px;
          position: absolute;
          cursor: pointer;
          left: 0px;
          top: -35px;
          background: white;
          padding: 0px 5px;
          border: 1px solid #ced4da;
        }
      }

      .form-check-input {
        float: left;
        position: relative;
        margin-left: 0;
        width: 30px;
        &:focus {
          border-color: pink !important;
          box-shadow: none !important;
        }

        &:checked, &.star-full {
          & + label:before {
            content: '\F586';
          }
        }
        &.star-empty + label:before {
          content: '\F588' !important;
        }
      }
    }
  }
}
