<!--/templates/register.html-->
{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
  <header class="p-3 bg-dark text-white">
    <div class="justify-content-start">
      <a href="/"
         class="mb-2 mb-lg-0 text-white text-decoration-none
         justify-content-start logo">
        <i class="bi bi-book"></i> LitReview
      </a>
    </div>
  </header>
  <div id="register">
    <h2 class="page-title">Register</h2>
    <form method="post">
      <div>
      {% crispy form %}
      <button type="submit" class="btn btn-default mx-auto">
        Register
      </button>
      </div>
    </form>
    <br>
    <br>
    <div class="btn-group">
      <a class="btn btn-outline-dark" href="{% url 'login' %}">Back to
        login</a>
      <a class="btn btn-outline-dark" href="{% url 'home' %}">Back to Home</a>
    </div>

  </div>

{% endblock %}